.Login-body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-card {
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.heading {
    margin-top: 10px;
}