.Signup-body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .Signup-card {
    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
  }
  
  .heading {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  p {
    margin-top: 5px;
    font-size: 0.9em;
  }
  
  span {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .Signup-body {
      height: auto;
    }
  
    .Signup-card {
      width: 90%;
      padding: 15px;
    }
    
  
    .heading {
      font-size: 1em;
    }
  
    p {
      font-size: 0.85em;
    }
  }